# Ant
ant/

# Gradle
.gradle/
build/

# Maven
target/

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ IDEA
.idea/*
*.iws
*.ipr
*.iml
out/
!.idea/codeStyles/

# Allure
.allure/

# Claude Code
*.local.*